// media queries
// ====================================
$screen-xs: 567px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1140px;

// colors
// ====================================

$white: #ffffff;
$gray:  #7f7f7f;
$black: #000000;

$green: #00ff00;
$dark-green: #007700;
$red: #ff0000;

// font-sizes
// ====================================

$font-thin:    300;
$font-regular: 400;
$font-medium:  700;
$font-bold:    900;

$font-family-primary: 'Lato', sans-serif;

$font-base:    1rem;
$font-md:     .875rem;
$font-sm:     .75rem;

$p-size:         14px;

$h1-size:        42px;
$h1-size-mobile: 32px;

$h2-size:        38px;
$h2-size-mobile: 32px;

$h3-size:        28px;
$h3-size-mobile: 26px;

$h4-size:        24px;
$h5-size:        20px;
$h6-size:        16px;

$border-radius: 3px;


//layering
// ====================================

$z-index-0: 0;
$z-index-1: 9;
$z-index-2: 99;
$z-index-3: 999;
$z-index-4: 9999;
$z-index-5: 99999;
$z-index-max: 2147483647;  // maximum number in int-32 system
