* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  background-color: $black;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  font-size: $p-size;
  list-style: none;
  outline: none;

  margin: 0;
  padding: 0;
}

p {
  font-size: $p-size;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-medium;
}

h1 {
  font-size: $h1-size;

  @media (max-width: $screen-md) {
    font-size: $h1-size-mobile;
  }
}

h2 {
  font-size: $h2-size;

  @media (max-width: $screen-md) {
    font-size: $h2-size-mobile;
  }
}

h3 {
  font-size: $h3-size;

  @media (max-width: $screen-md) {
    font-size: $h3-size-mobile;
  }
}

h4 {
  font-size: $h4-size;

  @media (max-width: $screen-md) {
    font-size: $h3-size-mobile;
  }
}

h5 {
  font-size: $h5-size;
}

h6 {
  font-size: $h6-size;
}

table {
  border-collapse: collapse;
  margin: auto;
}

table, th, td {
  border: 1px solid $white;
}
