.button {
  border-color: $green;
  background-color: $green;
  color: $black;

  &:hover {
    border-color: $dark-green;
    background-color: $dark-green;
    color: $white;
  }

  &:disabled {
    border-color: $gray;
    background-color: $gray;
  }
}
