.circle-container {
  @media (max-width: $screen-sm) {
    @include on-circle($item-count: 42, $circle-size: 90vmin, $item-size: 1rem);
    margin: 2rem auto;
  }
  @media (min-width: $screen-sm) {
    @include on-circle($item-count: 42, $circle-size: 90vmin, $item-size: 2rem);
    margin: 2rem auto;
  }
}
