.distraction-image {
  margin: 0 1rem;
  height: 40vh;
  width: 30vh;
  position: absolute;
  top: 30vh;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  clip: rect(.1vh, 29.9vh, 39.9vh, .1vh);
  filter: grayscale(100%);

  &--left {
    left: 1rem;
  }

  &--right {
    right: 1rem;
  }

  @media (max-width: $screen-sm) {
    display: none;
  }
}