<img
  class="distraction-image distraction-image--left"
  *ngIf="isLeftDistractionVisible"
  [ngStyle]="{ 'background-image': 'url(' + distractionImageUrl + ')'}">

<img
  class="distraction-image distraction-image--right"
  *ngIf="isRightDistractionVisible"
  [ngStyle]="{ 'background-image': 'url(' + distractionImageUrl + ')'}">

<div class="form" *ngIf="!isRunning">

  <input #userIdInput type="text" placeholder="User ID">

  <button
    class="button"
    [disabled]="!userIdInput.value"
    (click)="start(userIdInput.value)">
    Start
  </button>

</div>

<div *ngIf="isRunning">

  <ul class="circle-container">
    <li
      *ngFor="let itemId of itemIds"
      class="circle"
      [ngClass]="{'circle--active' : itemId === activeItemId,
      'circle--wrong-reaction': itemId === wrongReactionItemId }">
    </li>
  </ul>

</div>
