<div class="form" *ngIf="!isAdmin">

  <input #passwordInput type="password" placeholder="Password">

  <button class="button" (click)="login(passwordInput.value)">
    Show results
  </button>

</div>

<div *ngIf="isAdmin">

  <button class="button" (click)="downloadResults()">
    Download results (.csv)
  </button>

  <div class="section">
    <ul class="list">
      <li
        *ngFor="let test of tests; let id = index"
        class="list-item"
        [ngClass]="{'list-item--active' : id === selectedTestId}"
        (click)="selectTest(id)">
        User ID: {{ test.userId }}
      </li>
    </ul>
  </div>

  <div class="section" *ngIf="selectedTest">
    <table>
      <tr>
        <td>User</td>
        <td>Reaction correct</td>
        <td>Reaction time (ms)</td>
        <td>Dot position</td>
        <td>Related to a jump</td>
      </tr>
      <tr *ngFor="let reaction of selectedTest.reactions">
          <td>{{ selectedTest.userId }}</td>
          <td>{{ reaction.correct }}</td>
          <td>{{ reaction.time }}</td>
          <td>{{ reaction.dotPosition }}</td>
          <td>{{ reaction.isRelatedToJump }}</td>
      </tr>
    </table>
  </div>

</div>
